$ cat .gitignore


# root level
.ipynb_checkpoints/
.vscode/
__pycache__/
superseded/
*.ipynb
test_arg.py
test.json
*.log
test_env/
pc_coeff/
/to_do_list.txt
/test_arg.py
/OpenSRA_backup.py
/ucerf3_preprocess.py
/AppendJavaPath.cmd
/CreatedConfigParams.json
/front_end_todo.txt

# src level
src/PreProcess_Combine_RRPGV_RRPGD.py

# all subdirectories
**/.ipynb_checkpoints
**/.vscode
**/__pycache__/
**/**/*.ipynb
# **/*.ipynb
**/.log
**/.pyc

# lib level
# lib/SimCenter/opensha/erf/fault_source_connectivity.txt
# lib/SimCenter/
# lib/OpenSHA/ERF/**
# ScenarioConnectivity.csv
# lib/OpenSHA/**
**/FiniteSourceConnectivity.csv
lib/OpenSHA/ERF/Mean\ UCERF3/
lib/OpenSHA/ERF/Mean\ UCERF\ FM3.1/
lib/OpenSHA/ERF/Mean\ UCERF\ FM3.2/
lib/Datasets/
lib/Datasets.zip
lib/OpenSHA.zip

# others
**/superseded
# src/.ipynb_checkpoints
# src/__pycache__
**/temp