$ cat .gitignore


# root level
.ipynb_checkpoints/
.vscode/
__pycache__/
superseded/
*.ipynb
test_arg.py
test.json
*.log

# src level
src/PreProcess_Combine_RRPGV_RRPGD.py

# all subdirectories
**/.ipynb_checkpoints
**/.vscode
**/__pycache__/
**/**/*.ipynb
# **/*.ipynb
**/.log
**/.pyc

**/superseded
# src/.ipynb_checkpoints
# src/__pycache__
**/temp

# lib level
# lib/SimCenter/opensha/erf/fault_source_connectivity.txt
lib/SimCenter/
lib/OpenSHA/ERF/**