$ cat .gitignore


# root level
.ipynb_checkpoints/
.vscode/
__pycache__/
test_env/
pc_coeffs/
superseded/
*.ipynb
test_arg.py
test.json
*.log
test_env/
pc_coeff/
to_do_list.txt
OpenSRA_backup.py
ucerf3_preprocess.py
AppendJavaPath.cmd
CreatedConfigParams.json
front_end_todo.txt
model_params.xlsx
SetupConfig_backup.json
StoreSourceTraceToZip.py
GetERFSolutions.py
MethodsAndParams.json
OpenSRA_backup_221115.py

# src level
src/PreProcess_Combine_RRPGV_RRPGD.py

# all subdirectories
**/.ipynb_checkpoints
**/.vscode
**/__pycache__/
**/**/*.ipynb
# **/*.ipynb
**/.log
**/.pyc
**/.bak

# lib level
# lib/SimCenter/opensha/erf/fault_source_connectivity.txt
# lib/SimCenter/
# lib/OpenSHA/ERF/**
# ScenarioConnectivity.csv
# lib/OpenSHA/**
**/FiniteSourceConnectivity.csv
lib/OpenSHA/ERF/Mean\ UCERF3/
lib/OpenSHA/ERF/Mean\ UCERF\ FM3.1/
lib/OpenSHA/ERF/Mean\ UCERF\ FM3.2/
lib/Datasets/
lib/Datasets.zip
lib/OpenSHA.zip
lib/OtherData/Preprocessed/Precomputed_IMs_for_Statewide_Pipeline

# examples
examples/(DO_NOT_RUN)_below_ground_landslide_statewide_level1_ucerf/
/opensra/examples/**/IM/
/opensra/examples/**/Processed_Input/
/opensra/examples/**/Results/
/opensra/examples/**/IM
/opensra/examples/**/Processed_Input
/opensra/examples/**/Results

# others
**/superseded
# src/.ipynb_checkpoints
# src/__pycache__
**/temp
methods_params_doc/below_ground - backup.json